<div class= 'container'>
<div class='row'>
<div class = 'col-lg-5'>
<div class= 'panel panel-default'>
<div class= 'panel-body'>



<h1>Get in touch with us</h1>
</br>


<h3>Marty's Awesome Classroom</h3>
<p>1222 Boogie Boogie Avenue</p>
<p>Bestest Place, Idaho  45673</p>
<p>654-555-6578</p>
<%= mail_to "me@domain.com" do %>
  <strong>Email me:</strong> <span>me@domain.com</span>
<% end %>
</div>
</div>
</div>
</div>
</div>
