<style>
  body {

    color: <%= @color %>
  }
</style>
<h1 class ="button">Here is how to contact us</h1>

<br />
<br />

<p class="button">

  Marty's Adventures<br />
  3000 Awesome Blvd.<br />
  Anywhere,NC 27645<br />
  910-555-6534<br />
  <%= mail_to "me@domain.com" do %>
  <strong>Email me:</strong> <span>me@domain.com</span>
<% end %>
